body{
  background-image: url(../img/prism.png);
  background-repeat: repeat;
  margin:0;
  padding:0;
}
* {
  box-sizing: border-box;
}
ul li{
  list-style-type:none;
  margin:0;
  padding:0;
}
ul{
  margin:0;
  padding:0;
}
a{
  text-decoration:none;
  display: block;
}
.welcome{
    color:white;
    width:100%;
    overflow: hidden;
    position:fixed; 
    z-index:800;
    display:block;
    left:0;
    display:block;
   }

   .welcome img {
    width: 100%;
    height:675px;
   }

   .welcome .enter{
    background-image: url(../img/enter.png);
    width:71px;
    height:34px;
    cursor:pointer;
    position:absolute;
    z-index:800;
    top:51.5%;
     left:41.5%;
     transition:all 0.8s ease-in;

    }

.enter:hover{
      transform:rotate(90deg) translate(22px, 20.5px);
      left:42%;  
    }

  
.home-page{

    position:fixed;
    width:1080px;
    height:100vh;
    margin:0 auto;
    z-index: 100;
    overflow:hidden;
    top:0;
    left:8%;
    z-index:1; 
   }
/*image-slider*/

   .slide-box{
    position:relative;
    width:278px;
    margin:auto auto;
    height:158px;
    transform: translate3d(21.5%, -283%, 0);
    background-color: #888;
    position:relative;
   }
   

   .slide{
     background-size:cover;
     background-position:center;
     background-repeat:no-repeat;
     width:100%;
     margin:0;
     padding:0;
     height:160px;
     overflow-x:hidden;
    text-align:center;

   }
   .slide-content{
     width:100%;
     height:20px;
     margin:0 auto;
     background: #fff;
   }
   .slide-content span{
     display: block;
     color:#fff;
     margin:0;
     padding:0;
   }
   .slide-content span.ai{
     width:60%;
     height:20px;
     background-color:#2196F3;
   }
   .slide-content span.ps{
    width:75%;
    height:100%;
    background-color:#4CAF50;
  }
  .slide-content span.html{
    width:90%;
    height:100%;
    background-color:#808080;
  }
  .slide-content span.js{
    width:60%;
    height:100%;
    background-color:#f44336;;
  }
   .slide1{
  background-image:url(../img/ai.jpg); 
   
   }
   
   .slide2 {
         background-image:url(../img/ps.jpg);
       }
       
    .slide3 {
        background-image:url(../img/html.jpg);
      }

      .slide4 {
        background-image:url(../img/js.jpg);
      }
  
      
     .arrow{
       cursor:pointer;
       position:absolute;
       top:50%;
        margin-top:-10px;
        width:0;
        height:0;
        border-style:solid;  
     }
 #right{
       border-width:10px 0 10px 10px;
       border-color:transparent transparent transparent #fff;
       right:0;
       margin-right:10px;
     
     }
     #right:hover{
      border-width:12px 0 12px 12px;
      border-color:transparent transparent transparent #999;
      right:0;
      margin-right:10px;
    
    }

    #right:active {
      border-width:10px 0 10px 10px;
      border-color:transparent transparent transparent #999;
      right:0;
      margin-right:10px;
    
    }
    
     #left{
       border-width:10px 10px 10px 0;
       border-color:transparent #fff transparent transparent;
       left:0;
       margin-left:10px;
     }
     #left:hover{
      border-width:12px 12px 12px 0;
      border-color:transparent #999 transparent transparent;
      left:0;
      margin-left:10px;
    }
    #left:active{
      border-width:10px 10px 10px 0;
      border-color:transparent #999 transparent transparent;
      left:0;
      margin-left:10px;
    }

   #slider a.overlay{
    display:inline-block;
    display:flex;
    justify-items: center;
    align-items: center;
    cursor:pointer;
    height:38px;
    background-color: #000;
    color:#fff;
    position:absolute;
    top:38%;
    left:20%;
    padding:0 8px;
    margin:0;
    opacity:0.4;
    border:solid 1px #fff;
    border-radius: 2px;
    text-align: center;
    transition-duration: 0.2s;
    transition-delay: 0.2s;
    font-family: Arial, Helvetica, sans-serif;
    }
    #slider a.overlay p{
      margin:0px;
    }
    #slider:hover a.overlay{
      opacity:1;
      transform:scale(1.1);
    }



header{
  position:fixed;
  width:80vw;
  left:10%;
  right:10%;
  height:20vh;
  top:0;
  z-index:3;

}

   /*Analog clock star from here */

.clockbox,
#clock {
    width: 30%;

}
.clockbox{
  position:absolute;
  z-index:200;
  top:-246px;
  left:0;
}

/* Clock styles */
.circle {
    fill: none;
    stroke: #fff;
    stroke-width: 12;
    stroke-miterlimit: 10;
}

.mid-circle {
    fill: #fff;
}
.hour-marks {
    fill: none;
    stroke: #fff;
    stroke-width: 12;
    stroke-miterlimit: 10;
}

.hour-arm {
    fill: none;
    stroke: #fff;
    stroke-width: 17;
    stroke-miterlimit: 10;
}

.minute-arm {
    fill: none;
    stroke: #fff;
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: none;
    stroke: #fff;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

/* Transparent box ensuring arms center properly. */
.sizing-box {
    fill: none;
}

/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
#hour,
#minute,
#second {
    transform-origin: 300px 300px;
    /*transition: transform .5s ease-in-out;*/
}

      
/*Nav Menu start from here*/

.nav-btn{
     
  position:absolute;
  height:2.3875rem;
  width:5.5375rem;
  border:2px solid #000;
  background-color:rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  top:1.5625rem;
  right:-0.7rem;
  z-index:200;
  text-align: center;
  display:block;
  cursor:pointer;
  transition: all 0.5s ease-out;
  text-align:center;
  line-height: 1.9875rem;
  box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
      
}
.nav-btn span.title{
  float:right;
  margin-right:5px;
  font-family: sans-serif;
  color:#000;

}

.nav-btn:hover{
  transform: translateY(-2);
  }

.nav-btn:active{
  transform:translate(0);
}
.nav-btn:active{
   transform: translateY(0px); 
   box-shadow: none;
}
.menu .nav-btn .lines{
  float:left;
  margin-top:7px;
}

.menu .nav-btn .lines .btn-line{
  width:28px;
  height:3px;
  background-color:#000;
  margin-bottom: 5px;
  transition:all 0.5s ease-out;
  margin-left:6px;
      }



      
.nav-btn.close .lines .btn-line {
   transform:rotate(180deg);
 
   }
  
   .nav-btn.close .btn-line:nth-child(1){
    transform:rotate(45deg) translate(5px, 8px);
    background-color:#ff0000;
       }


  .nav-btn.close .btn-line:nth-child(2){
    opacity:0;
     }
  .nav-btn.close .btn-line:nth-child(3){
    transform:rotate(-45deg) translate(3px, -6px);
    background-color:#ff0000;
       }

  
  
   header#menu.menu nav.nav{
    position:absolute;
    top:4rem;
    right:-6.3rem;
    visibility:hidden;
    z-index:6000;
    width:178px;
    height:150px;
    opacity: 0.9;
      }
      #menu .nav .display{
        visibility: visible;
        z-index:7000;
         }
 ul.menu-nav{
    display:grid;
    width:141px;
    height:166px;
    transition: all 0.5s;
    transform: translate3d(100%, 0, 0);
    z-index:7000;
   }

  .menu-nav.display {
    clear:both;
    transform: translate3d(0, 0, 0);
    z-index:7000; }
    
  .nav-item {
    transform: translate3d(100%, 0, 0);
    transition: all 0.5s;
    }
   /* .current.display a.nav-link{
    color:#003366!important;
    background-color:#FFA500;
      } */

    .nav-item.display {
    transform: translate3d(0, 0, 0); }
     
    #menu .nav ul li{
      margin:0;
      padding:0;
      display:flex;
      align-items: center;
      justify-content:center;
     }

      #menu .nav ul li a{
        border:1px solid #FFA500;
      }
     #menu .nav ul li a:link{
       font-family: Arial, Helvetica, sans-serif;
       text-align:center;
       width:141px;
      height:54px;
       line-height: 54px;
       background: rgba(255, 255, 255, 0.5);
       color:#000;
       transition:all 0.5s ease-out;
       background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #333 50%);
       background-size: 220%;
       transition: all 0.4s;
       transform: translateY(-3px);
       display:inline-block;
       z-index:2;
       margin-top:2px;
     }
     #menu .nav ul li a:hover{
      background-position: 100%;
      transform: translateY(-1px);
      box-shadow: none!important;
      box-shadow: -1px 1px 0px 2px rgba(0,0,0,0.4)!important;
      color:#fff;
      margin-top:3px;
     }
     #menu .nav ul li a:active{
      transform: translateY(0);
      box-shadow:none;
      width:139px;
      height:53px;
     }

     #menu .nav ul li a:not(.mywork){
       border-bottom:1px solid  #FFA500; 
     }
     .nav-item.current.display a.nav-link{
      background:  #000;
      color:#fff!important;
      box-shadow:none!important;
      transform: translateY(0);
      width:139px;
      height:55px;
      z-index:1;
      margin-top:7px;
    
     }
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #e65000, 0 0 20px #e65000, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #e65000, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/*hire me start from here */
.hire{
  position:fixed;
  bottom:2%;
  right:42%;
  z-index:200;
  padding:0px 5px;
  border-radius:7px;
  border-bottom:3px solid #fff;
  color:#fff;
  padding:11px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #480048;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
   animation: glow 1s ease-in-out infinite alternate;


  /*display: none;*/
 }
     
.hire:hover {
  background-color: #480048;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  transform: translateY(-2px); }

.hire:active {
  box-shadow: none;
  transform: translateY(0); 
}
h1,h2,h3,h4,h5{
  margin:0;
  padding:0;
}
.card{
  position:fixed;
  display: none;
  position:fixed;
  left:0;
  top:0;
  z-index: 2000;
  width:100%;
  height:100%;
  background-color:transparent;
}
.card-container{
  border-radius: 5px;
  position:absolute;
  width:21%;
  height:50%;
  top:30%;
  left:44%;
  perspective:1000px;
  background: transparent;
}
.card-inner{
  position:relative;
  width:100%;
  height:100%;
  text-align: center;
  font-family: sans-serif;
  transition:transform 0.6s;
  transform-style:preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-container:hover .card-inner{
  transform:rotateY(180deg);
}
.card-front, .card-back{
  position:absolute;
  width:100%;
  height:100%;
  backface-visibility: hidden;
  background:linear-gradient(270deg, orange, orangered);
  
}
.card-front img{
  width:100%;
  height:100%;
}

.card-back{
  transform:rotateY(180deg);
  padding-top:20px;
  text-align:center;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
/* Add Zoom Animation */
.animate{
  -webkit-animation:animatezoom 0.6s;
  animation:animatezoom 0.6s;
}
@-webkit-keyframes animatezoom{
  from{-webkit-transform:scale(0)}
  to{-webkit-transform:scale(1)}
}
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

#contact span.close{
  position:absolute;
  right:13px;
  top:6px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}
#contact span.close:hover,.close:focus{
  color:#000;
  cursor: pointer;
}
.imgcontainer{
  text-align: center;
  margin: 12px 8px 12px 0;
  position:relative;
}


h1,h2,h3,h4,h5{
  margin:0;
  padding:0;
}
h3 a.social-media{
   color: #fff;
   text-align:center;
   line-height: 40px;
   font-family: sans-serif;
   font-weight: 100;
   height:40px;
   width:40px;
   font-size:25px;
   background-color:#141cc4;
   border-radius: 50%;
}


/*hire me end here */

 /*Resume start from here */ 
 .resume{
   margin-top:150px;
 }
table{

  width:75%;
  margin:30px auto 0;
}
 table, th, td{
  border:1px solid black;
  border-collapse: collapse;
}
th, td{
  padding:15px;
  font-family: sans-serif;
  font-weight: lighter;
}
th img{
  width:100%;
  height:auto;
}
#t02 tbody tr td:first-child{
  width:10%;
}


/*Resume end here */    


