body{

    margin:0;
    padding:0;
}
ul li{
  list-style-type:none;
  margin:0;
  padding:0;
}
ul{
  margin:0;
  padding:0;
}
a{
  text-decoration:none;
  display: block;
}
.welcome{
    color:white;
    width:100%;
    overflow: hidden;
    position:fixed; 
    z-index:800;
    display:none;
    left:0;
   }

   .welcome img {
    width: 100%;
    height:675px;
   }

    .welcome .enter{
    background-image: url(../img/enter.png);
    width:72px;
    height:34px;
    cursor:pointer;
    position:absolute;
     z-index:800;
     top:51.5%;
     left:42%;
    transition:all 0.8s ease-in; 
    }

.enter:hover{
      transform:rotate(90deg) translate(22px, 25px)   
    }

  
.home-page{
    position:fixed;
    width:1080px;
    height:100vh;
    margin:0 auto;
    z-index: 100;
    overflow:hidden;
    top:0;
    left:8%;
    z-index:1; 
   }
/*image-slider*/

   .slide-box{
    position:relative;
    width:278px;
    margin:auto auto;
    height:158px;
    transform: translate3d(21.5%, -283%, 0);
    background-color: #888;
    position:relative;
   }
   

   .slide{
     background-size:cover;
     background-position:center;
     background-repeat:no-repeat;
     width:100%;
     margin:0;
     padding:0;
     height:160px;
     overflow-x:hidden;
     
   }
   .slide1{
  background-image:url(../img/ai.jpg); 
   
   }
   
   .slide2 {
         background-image:url(../img/ps.jpg);
       }
       
    .slide3 {
        background-image:url(../img/html.jpg);
      }

      .slide4 {
        background-image:url(../img/js.jpg);
      }
  
       .slide-content span{
         color:#000;
       }
   
     .arrow{
       cursor:pointer;
       position:absolute;
       top:50%;
        margin-top:-10px;
        width:0;
        height:0;
        border-style:solid;  
     }
 #right{
       border-width:10px 0 10px 10px;
       border-color:transparent transparent transparent #fff;
       right:0;
       margin-right:10px;
     
     }
     #right:hover{
      border-width:12px 0 12px 12px;
      border-color:transparent transparent transparent #999;
      right:0;
      margin-right:10px;
    
    }

    #right:active {
      border-width:10px 0 10px 10px;
      border-color:transparent transparent transparent #999;
      right:0;
      margin-right:10px;
    
    }
    
     #left{
       border-width:10px 10px 10px 0;
       border-color:transparent #fff transparent transparent;
       left:0;
       margin-left:10px;
     }
     #left:hover{
      border-width:12px 12px 12px 0;
      border-color:transparent #999 transparent transparent;
      left:0;
      margin-left:10px;
    }
    #left:active{
      border-width:10px 10px 10px 0;
      border-color:transparent #999 transparent transparent;
      left:0;
      margin-left:10px;
    }

   #slider a.overlay{
    display:inline-block;
    display:flex;
    justify-items: center;
    align-items: center;
    cursor:pointer;
    height:50px;
    background-color: #000;
    color:#fff;
    position:absolute;
    top:29%;
    left:40%;
    padding:0 8px;
    margin:0;
    opacity:0.2;
    border:solid 1px #fff;
    border-radius: 2px;
    text-align: center;
    transition-duration: 0.2s;
    transition-delay: 0.2s;
    }
    #slider a.overlay p{
      margin:0px;
    }
    #slider:hover a.overlay{
      opacity:1;
      transform:scale(1.3);
    }


   /*Analog clock star from here */


.main {
    display: flex;
    padding: 2em;
    height: 90vh;
    justify-content: center;
    align-items: middle;
}

.clockbox,
#clock {
    width: 33%;

}
.clockbox{
  position:absolute;
  z-index:200;
  top:-234px;
  right:-87px;
}

/* Clock styles */
.circle {
    fill: none;
    stroke: #fff;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.mid-circle {
    fill: #fff;
}
.hour-marks {
    fill: none;
    stroke: #fff;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.hour-arm {
    fill: none;
    stroke: #fff;
    stroke-width: 17;
    stroke-miterlimit: 10;
}

.minute-arm {
    fill: none;
    stroke: #fff;
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: none;
    stroke: #fff;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

/* Transparent box ensuring arms center properly. */
.sizing-box {
    fill: none;
}

/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
#hour,
#minute,
#second {
    transform-origin: 300px 300px;
    /*transition: transform .5s ease-in-out;*/
}

      
/*Nav Menu start from here*/

      .nav-btn{
     
       position:absolute;
       height:2.1875rem;
       width:2.4375rem;
       border:2px solid #fff;
       border-radius: 3px;

      top:2%;
      right:3%;
      z-index:200;
      text-align: center;
      display:block;
      cursor:pointer;
       /*transition: all 0.5s ease-out;*/
      
}

.nav-btn:hover{
       
        box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.8);
         -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  transform: translateY(-2px); 

  
}
.nav-btn:active{
  transform: translateY(0px); 
  box-shadow: none;
}




     

 

      .menu .nav-btn .btn-line{
        width:28px;
        height: 4px;
        background-color: #fff;
         margin-bottom: 5px;
        transition:all 0.5s ease-out;
        margin-left: 5px;

      }
      .btn-line.first{
        margin-top:5px;
      }
      
     .nav-btn.close .btn-line {
       transform:rotate(180deg);
     }
     .nav-btn.close .btn-line:nth-child(1){
       transform:rotate(45deg) translate(5px, 6px);
       
     }
     .nav-btn.close .btn-line:nth-child(2){
       opacity:0;
     
     }
      .nav-btn.close .btn-line:nth-child(3){
       transform:rotate(-45deg) translate(7px, -7px);
      
     }
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #e65000, 0 0 20px #e65000, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #e65000, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/*hire me start from here */

     .hire{
      position:fixed;
      bottom:2%;
      right:42%;
      z-index:200;
      padding:0px 5px;
      border-radius:7px;
      border-bottom:3px solid #fff;
      color:#fff;
      padding:11px;
      font-size: 1.5rem;
      font-weight: bold;
      background-color: #480048;
       -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;


      /*display: none;*/
     }
     .hire:hover {
  background-color: #480048;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  transform: translateY(-2px); }

.hire:active {
  box-shadow: none;
  transform: translateY(0); 
}
.card{
  display: none;
  position:fixed;
  z-index: 2000;
  left:37%;
  top:15%;
  width:30%;
 

 

}
.card-container{
  background-color: #fefefe;
  margin:5% auto;
  border:1px solid #888;
  width:90%;
  border-radius: 5px;
  text-align: center;

}
/* Add Zoom Animation */
.animate{
  -webkit-animation:animatezoom 0.6s;
  animation:animatezoom 0.6s;
}
@-webkit-keyframes animatezoom{
  from{-webkit-transform:scale(0)}
  to{-webkit-transform:scale(1)}
}
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
.close{
  position:absolute;
  right:5px;
  top:0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,.close:focus{
  color:red;
  cursor: pointer;
}
.imgcontainer{
  text-align: center;
  margin: 12px 8px 12px 0;
  position:relative;
}
.title {
  color: #000;
  font-size: 18px;
  font-weight: bold;
}
p{
  margin:0;
  padding:0;
  font-size:16px;
  font-weight: bold;
}

img.mypic{
  width:40%;
  border-radius:50%;
}
a {
  text-decoration: none;
  font-size: 22px;
  color: #fff;
}




/*hire me end here */

     
     .nav{
     position:fixed;
     top:0;
     left:0;
     visibility:hidden;
     display:grid;
     grid-template-columns:1fr 1fr;
     z-index:100;
     
     }
     
     .nav .display{
      visibility:visible;
     
     }
     .my-work, .resume{
      text-align:center;
      width:50vw;
      height:100vh;
      line-height:100vh;
      overflow:hidden;
     
     }
     .my-work{
        background:#e67e00;
        transform:translate3d(100%, 0, 0);
        transition:all 0.5s ease-out;
     
     }
     .my-work.display{
        transform:translate3d(0, 0, 0);
     }
     
      .resume{
        background:#e67e00;
        transform:translate3d(-100%, 0, 0);
        transition:all 0.5s ease-out;
     
     }
     .resume.display{
         transform:translate3d(0, 0, 0);
     }

/*My Work */

